{# Template général de la page #}
{% extends 'base.html.twig' %}

{# Titre de la page #}
{% block title %}Pikashu{% endblock %}


{% block stylesheets %}
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/login.css">
{% endblock %}

{# Ici vous mettez vos codes HTML et balises Twig au besoin #}
{% block body %}
<main>
        <div class="row gap-5 mt-50">
            <div class="column max-width-50">
                <img src="/assets/img/Acuponcture_traditionel_chinoise-removebg-preview.png" alt="Pikashu">
            </div>
            <div class="column max-width-50">
                <div class="card">
                    <h2 class="mb-20">Se connecter</h2>
                    <p class="switch" id="bad_pass">  <p>
                    <form class="login-form" method="post" action="/login-verify">
                        <label class="login-label" for="email"></label>
                        <input name="email" type="email" id="email" class="login-input" placeholder="Votre email">
                  
                        <label class="login-label" for="password"></label>
                        <input name="password" type="password" id="password" class="login-input" placeholder="Votre mot de passe">
                  
                        <button class="loggin-button" type="submit">Se connecter</button>
                    </form>

                    
                    <div class="switch">Pas de compte ? <a href="/signin">S'inscrire ici</a></div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}

{% block javascripts %}
    <script>
    const queryString = window.location.search;
    const urlParams = new URLSearchParams(queryString);
    if (urlParams.has('fail')){
        document.getElementById("bad_pass").innerHTML = "Mot de passe/utilisateur incorrect";  
    }
    </script>
{% endblock %}